body {
  background-color: #eaddc4;
  /* NAV */
}
body nav .sidenav li .user-view a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Caveat Brush", cursive;
  font-size: 20rem;
}
body nav .sidenav li .user-view a .name {
  font-family: "Caveat Brush", cursive;
  font-size: 2rem;
}
body nav .sidenav .menu-movil {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 1rem;
}
body nav .sidenav .menu-movil img {
  width: 2rem;
  height: 2rem;
}
body nav .sidenav .menu-movil a {
  padding-left: 1rem;
}
body nav .sidenav .arriba {
  padding-top: 2rem;
}
body nav .nav-wrapper {
  width: 100%;
}
body nav .nav-wrapper .left li {
  width: 6.9rem;
  margin: 0;
}
body nav .nav-wrapper .right {
  display: flex;
  flex-direction: row;
}
body nav .nav-wrapper .right li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}
body nav .nav-wrapper .right li.seccion {
  width: 100%;
  height: 100%;
}
body nav .nav-wrapper .right li a {
  width: 6.2rem;
  margin-top: 0.375rem;
}
body nav .nav-wrapper .right li a img {
  width: 100%;
  height: auto;
  position: relative;
}
body nav .nav-wrapper .right li .ribbon {
  width: 0rem;
  height: 3.125rem;
  border-left: 1.5rem solid #4db6ac;
  border-right: 1.5rem solid #4db6ac;
  border-bottom: 1.5rem solid transparent;
  margin-top: -2.375rem;
}
body nav .nav-wrapper .right li .ribbon:hover {
  border-left: 1.5rem solid #00897b;
  border-right: 1.5rem solid #00897b;
}
body nav .nav-wrapper .right li .active {
  border-left: 1.5rem solid #00897b;
  border-right: 1.5rem solid #00897b;
}
body nav .nav-wrapper .right .nombre-seccion {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0;
  margin: 0;
  margin-top: 0.3rem;
  margin-left: -0.6rem;
  margin-right: 0.6rem;
  height: 0rem;
}
body .contenedor-libro-colores {
  margin-top: 8em;
  margin-bottom: 5em;
}
body .contenedor-libro-colores .row .col .personalizar-imagen {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8em;
  margin-bottom: 0.2rem;
  background-image: url("../img/compra.png");
  height: 38rem;
  width: 30rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body .contenedor-libro-colores .row .col .imagenes {
  width: 30rem;
  display: flex;
  justify-content: center;
  margin-left: 8rem;
}
body .contenedor-libro-colores .row .col .imagenes .row {
  width: 100%;
}
body .contenedor-libro-colores .row .col .imagenes .row .col {
  padding: 0.2rem;
}
body .contenedor-libro-colores .row .col .imagenes .row .col img {
  width: 100%;
  margin: 0;
}
body .contenedor-libro-colores .row .contenedor-separadores .separadores {
  width: 100%;
  margin-bottom: 0;
}
body .contenedor-libro-colores .row .contenedor-separadores .separadores .separador {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
  border-top-left-radius: 1.7rem;
  border-top-right-radius: 1.7rem;
  background-color: #f7f0e6;
  border-bottom: 0.1rem solid #eaddc4;
}
body .contenedor-libro-colores .row .contenedor-separadores .separadores .separador:hover {
  background-color: #ffca28;
}
body .contenedor-libro-colores .row .contenedor-separadores .separadores .separador a {
  font-weight: 600;
  font-size: 1.27rem;
  text-transform: uppercase;
}
body .contenedor-libro-colores .row .personalizar-container-botones {
  background-color: #f7f0e6;
  border-radius: 0.5rem;
  height: 38.5rem;
}
body .contenedor-libro-colores .row .personalizar-container-botones .row {
  padding: 1rem;
}
body .contenedor-libro-colores .row .personalizar-container-botones .row .col table {
  width: 100%;
}
body .contenedor-libro-colores .row .personalizar-container-botones .row .col table tbody tr td {
  font-size: 1.18rem;
}
body .contenedor-libro-colores .row .personalizar-container-botones .row .col table tbody tr td.negrita {
  font-weight: bold;
}
body .contenedor-libro-colores .row .personalizar-container-botones .row .col .info-aclaracion {
  margin-top: 5rem;
  width: 100%;
}
body .contenedor-libro-colores .row .personalizar-container-botones .row .col .info-aclaracion p,
body .contenedor-libro-colores .row .personalizar-container-botones .row .col .info-aclaracion a {
  font-size: 1.2rem;
  font-weight: 400;
}
body .contenedor-libro-colores .row .personalizar-container-botones .row .col .info-aclaracion .redes {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
body .contenedor-libro-colores .row .personalizar-container-botones .row .col .info-aclaracion .redes a {
  margin-left: 1.5rem;
  font-weight: bold;
  border-bottom: 0.1rem solid #4db6ac;
}
body .contenedor-libro-colores .row .personalizar-container-botones h5 {
  font-weight: bold;
  margin-top: 0rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
body .contenedor-libro-colores .row .comprar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
body .contenedor-libro-colores .row .comprar .btn-large {
  padding: 2rem 6rem;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  margin-top: -5rem;
}
body .contenedor-libro-colores .row .comprar .btn-large i {
  margin-right: 1rem;
}
body .contenedor-libro-colores .row .comprar .agregar,
body .contenedor-libro-colores .row .comprar .comprar {
  margin-right: 2rem;
}
body .contenedor-libro-colores .row .carrito {
  width: 78.59%;
  padding-left: 8rem;
}
body .contenedor-libro-colores .row .carrito .banner {
  width: 100%;
}
body .contenedor-libro-colores .row .carrito .banner .responsive-img {
  width: 70%;
  margin-bottom: 2.5rem;
  margin-top: 4rem;
}
body .contenedor-libro-colores .row .carrito .col .header {
  text-transform: uppercase;
  font-weight: 500;
}
body .contenedor-libro-colores .row .carrito .col .card {
  padding: 0.3rem;
}
body .contenedor-libro-colores .row .carrito .col .card .card-image {
  width: 11rem;
  height: auto;
}
body .contenedor-libro-colores .row .carrito .col .card .card-image a img {
  width: 100%;
  height: 100%;
}
body .contenedor-libro-colores .row .carrito .col .card .card-stacked .card-content {
  padding-top: 0.88rem;
  margin-bottom: 0rem;
}
body .contenedor-libro-colores .row .carrito .col .card .card-stacked .card-content .eliminar {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
body .contenedor-libro-colores .row .carrito .col .card .card-stacked .card-content .eliminar p {
  margin-right: 0.4rem;
}
body .contenedor-libro-colores .row .carrito .col .card .card-stacked .card-content p {
  font-size: 1.18rem;
}
body .contenedor-libro-colores .row .carrito .col .card .card-stacked .card-action {
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
}
body .contenedor-libro-colores .row .carrito .col .card .card-stacked .card-action p {
  display: flex;
  font-size: 1.18rem;
}
body .contenedor-libro-colores .row .carrito .col .card .card-stacked .card-action input {
  margin-top: 0.5rem;
  margin-left: 1rem;
  width: 5rem;
}
body .contenedor-libro-colores .row .carrito .col .card .card-stacked .card-action h6 {
  font-size: 1.8rem;
  font-weight: bold;
  position: absolute;
  top: -0.9rem;
  right: 1rem;
}
body .contenedor-libro-colores .row .carrito .error {
  margin: 0;
  margin-left: -11rem;
  width: 100%;
  font-weight: bold;
  font-size: 1.04rem;
}
body #cuaderno .row .visualizacion-contenedor {
  background-color: #f7f0e6;
  padding: 4rem;
  border: 0.1rem solid #a7a0a0;
  display: flex;
  justify-content: center;
}
body #cuaderno .row .col {
  padding-left: 4rem;
}
body #cuaderno .row .col h6 {
  font-size: 1.8rem;
  font-weight: 500;
}
body #cuaderno .row .col p {
  font-size: 3rem;
  margin-left: 6rem;
  color: gray;
  font-weight: 600;
  display: flex;
  justify-content: center;
}
body #cuaderno .row .col .texto-pagos {
  font-size: 1rem;
  color: #000;
  margin: 0;
  margin-bottom: 3rem;
}
body #cuaderno .row .col h5 {
  font-size: 1.04rem;
  font-weight: 600;
  margin-top: 4rem;
}
body #cuaderno .row .col a {
  font-size: 1.3rem;
  height: 4rem;
  width: 30rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #cuaderno .row .col .pagos img {
  width: 3.5rem;
  margin-top: 1rem;
}
body footer .container {
  width: 80%;
}
body footer .container .row {
  margin-bottom: 0;
  padding-bottom: 0.5rem;
}
body footer .container .row .redes-sociales img,
body footer .container .row .medios-pago img {
  width: 3.8rem;
}

@media screen and (max-width: 1400px) {
  .container {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  nav .nav-wrapper .right {
    display: none;
  }

  .contenedor-libro-colores .cosas {
    display: flex;
    flex-direction: column;
  }
  .contenedor-libro-colores .cosas .flechas {
    display: flex;
    width: 100%;
    margin: 0;
    margin-top: 5rem;
    margin-right: 1rem;
  }
  .contenedor-libro-colores .cosas .colores .col div,
.contenedor-libro-colores .cosas .colores .col h6 {
    margin-left: 5rem;
  }
  .contenedor-libro-colores .cosas .personalizar-container-botones,
.contenedor-libro-colores .cosas .personalizar-container-imagen {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  body .contenedor-libro-colores .row .col h5 {
    width: 100%;
    margin-left: 17rem;
    margin-top: 5rem;
  }

  .descarga-botones {
    display: none;
  }
}