body {
  background-color: #eaddc4;
  /* NAV */
}
body nav .sidenav li .user-view a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Caveat Brush", cursive;
  font-size: 20rem;
}
body nav .sidenav li .user-view a .name {
  font-family: "Caveat Brush", cursive;
  font-size: 2rem;
}
body nav .sidenav .menu-movil {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 1rem;
}
body nav .sidenav .menu-movil img {
  width: 2rem;
  height: 2rem;
}
body nav .sidenav .menu-movil a {
  padding-left: 1rem;
}
body nav .sidenav .arriba {
  padding-top: 2rem;
}
body nav .nav-wrapper {
  width: 100%;
}
body nav .nav-wrapper .left li {
  width: 6.9rem;
  margin-top: 0.375rem;
}
body nav .nav-wrapper .right li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}
body nav .nav-wrapper .right li a {
  width: 6.2rem;
  margin-top: 0.375rem;
}
body nav .nav-wrapper .right li a img {
  width: 100%;
  height: auto;
  position: relative;
}
body nav .nav-wrapper .right li .ribbon {
  width: 0rem;
  height: 3.125rem;
  border-left: 1.5rem solid #4db6ac;
  border-right: 1.5rem solid #4db6ac;
  border-bottom: 1.5rem solid transparent;
  margin-top: -2.375rem;
}
body nav .nav-wrapper .right li .ribbon:hover {
  height: 4.25rem;
}
body nav .nav-wrapper .right li .active {
  border-left: 1.5rem solid #00897b;
  border-right: 1.5rem solid #00897b;
  height: 4.25rem;
}
body .contenedor-libro-colores {
  margin-top: 8em;
  margin-bottom: 5em;
}
body .contenedor-libro-colores .row .titulo-personalizar {
  font-family: "Caveat Brush", cursive;
  margin-bottom: 6rem;
  margin-top: 0;
}
body .contenedor-libro-colores .row .col nav {
  width: 30.2rem;
  margin-left: 8rem;
  margin-bottom: 2rem;
}
body .contenedor-libro-colores .row .col .personalizar-imagen {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8em;
  background-image: url("../img/visualizacion-tapa.png");
  height: 38rem;
  width: 30rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body .contenedor-libro-colores .row .col .personalizar-imagen #hoja {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1em;
  background-image: url("../img/hoja-rayada.jpg");
  height: 33rem;
  width: 26rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body .contenedor-libro-colores .row .col .boton-color {
  margin-left: 2.2em;
  margin-bottom: 0.9em;
  border-radius: 50%;
  height: 22.7em;
  width: 23.2em;
}
body .contenedor-libro-colores .row .personalizar-container-botones {
  background-color: #f7f0e6;
  padding-bottom: 4rem;
  
}
body .contenedor-libro-colores .row .personalizar-container-botones h5 {
  font-weight: bold;
  margin-top: 6rem;
  margin-bottom: 5.55rem;
  margin-left: 3.5rem;
  text-align: left;
}
body .contenedor-libro-colores .row .personalizar-container-botones .row .col .botonl {
  background-image: url("../img/hoja-lisa.jpg");
  
}
body .contenedor-libro-colores .row .personalizar-container-botones .row .col .botonc {
  background-image: url("../img/hoja-cuadriculada.jpg");
  
}
body .contenedor-libro-colores .row .personalizar-container-botones .row .col .botonr {
  background-image: url("../img/hoja-rayada-icono.jpg");
  
}

}
body .contenedor-libro-colores .row .personalizar-container-botones .colores .boton {
  margin-left: 1rem;
}
body .contenedor-libro-colores .row .personalizar-container-botones .colores .botones a {
  margin-right: 1.4rem;
  font-weight: bold;
  font-size: 1.2rem;
}
body .contenedor-libro-colores .row .personalizar-container-botones .flechas {
  display: flex;
  width: 85%;
  margin-top: 5rem;
}
body .contenedor-libro-colores .row .personalizar-container-botones .flechas .col {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .contenedor-libro-colores .row .personalizar-container-botones .flechas .col i {
  font-size: 3.5rem;
  cursor: pointer;
}
body .contenedor-libro-colores .row .personalizar-container-botones .flechas .col h6 {
  cursor:"personalizar2.html";
}
body .contenedor-libro-colores .row .col i {
  font-size: 3.5rem;
  cursor: pointer;
}
body .descarga-botones .row {
  margin-top: -3rem;
}
body .video {
  margin: 3.8rem auto;
}
body footer .container {
  width: 80%;
}
body footer .container .row {
  margin-bottom: 0;
  padding-bottom: 0.5rem;
}
body footer .container .row .redes-sociales img,
body footer .container .row .medios-pago img {
  width: 3rem;
}


@media screen and (max-width: 1400px) {
  .container {
    width: 100%;
  }

  .descarga {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  nav .nav-wrapper .right {
    display: none;
  }

  .contenedor-libro-colores .cosas {
    display: flex;
    flex-direction: column;
  }
  .contenedor-libro-colores .cosas .flechas {
    display: flex;
    width: 100%;
    margin: 0;
    margin-top: 5rem;
    margin-right: 1rem;
  }
  .contenedor-libro-colores .cosas .colores .col div,
.contenedor-libro-colores .cosas .colores .col h6 {
    margin-left: 5rem;
  }
  .contenedor-libro-colores .cosas .personalizar-container-botones,
.contenedor-libro-colores .cosas .personalizar-container-imagen {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  body .contenedor-libro-colores .row .col h5 {
    width: 100%;
    margin-left: 17rem;
    margin-top: 5rem;
  }

  .descarga,
.descarga-botones {
    display: none;
  }
}