@charset "UTF-8";
body {
  font-family: "Open Sans", sans-serif;
  background-color: #eaddc4;
  font-size: 16px;
  /* NAV */
  /* SLIDE */
}
body .preloader {
  position: absolute;
  margin: auto;
  top: 50vh;
  bottom: 50vh;
  left: 0;
  right: 0;
}
body nav .sidenav li .user-view a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Caveat Brush", cursive;
  font-size: 20rem;
}
body nav .sidenav li .user-view a .name {
  font-family: "Caveat Brush", cursive;
  font-size: 2rem;
}
body nav .sidenav .menu-movil {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 1rem;
}
body nav .sidenav .menu-movil img {
  width: 2rem;
  height: 2rem;
}
body nav .sidenav .menu-movil a {
  padding-left: 1rem;
}
body nav .sidenav .arriba {
  padding-top: 2rem;
}
body nav .nav-wrapper {
  width: 100%;
}
body nav .nav-wrapper .right li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}
body nav .nav-wrapper .right li a {
  width: 5.2rem;
  margin-top: 0.375rem;
}
body nav .nav-wrapper .right li a img {
  width: 100%;
  height: auto;
  position: relative;
}
body nav .nav-wrapper .right li .ribbon {
  width: 0px;
  height: 3.125rem;
  border-left: 1.25rem solid #4db6ac;
  border-right: 1.25rem solid #4db6ac;
  border-bottom: 1.25rem solid transparent;
  margin-top: -2.375rem;
}
body section .contenedor-slide {
  background-image: url(../img/slide.jpg);
  background-size: cover;
  height: 90vh;
}
body section .contenedor-slide .container {
  margin: 0;
  margin-left: 70px;
  width: 30%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  flex-direction: column;
}
body section .contenedor-slide .container .iso-grande {
  margin-top: -3.75rem;
  width: 12.5rem;
}
body section .contenedor-slide .container .texto-personalizar {
  text-align: center;
}
body section .contenedor-slide .container .texto-personalizar h1 {
  font-family: "Caveat Brush", cursive;
  margin-top: -10px;
}
body section .contenedor-slide .container .texto-personalizar .subtitulo {
  line-height: 9px;
  margin-top: 50px;
}
body section .contenedor-slide .container .texto-personalizar .subtitulo p {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0;
}
body section .contenedor-slide .container .texto-personalizar .parrafo {
  font-weight: 400;
  line-height: 8px;
  text-align: center;
  margin-top: 50px;
}
body section .contenedor-slide .container .texto-personalizar a {
  margin-top: 50px;
  width: 100%;
}
body main {
  width: 100%;
  padding-bottom: 0;
  padding: 50px;
}
body main .stock .contenedor-stock,
body main .bordados .contenedor-bordados {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
body main .stock .contenedor-stock .col .row,
body main .bordados .contenedor-bordados .col .row {
  margin: 0;
}
body main .stock .contenedor-stock .col .row .col .card .card-image,
body main .bordados .contenedor-bordados .col .row .col .card .card-image {
  padding: 0.5rem;
}
body main .stock .contenedor-stock .col .row .col .card .card-image img,
body main .bordados .contenedor-bordados .col .row .col .card .card-image img {
  border-radius: 0;
}
body main .stock .contenedor-stock .col .row .col .card .card-action,
body main .bordados .contenedor-bordados .col .row .col .card .card-action {
  height: 3.15rem;
}
body main .stock .contenedor-stock .col .row .col .card .card-action h6,
body main .bordados .contenedor-bordados .col .row .col .card .card-action h6 {
  font-weight: 800;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .banner-opiniones, body main .banner-bordados {
  padding-top: 6rem;
}
body main .banner-stock {
  padding-top: 5rem;
}
body main .info-materiales {
  -webkit-clip-path: polygon(0 5%, 100% 0%, 100% 92%, 0 98%);
          clip-path: polygon(0 5%, 100% 0%, 100% 92%, 0 98%);
  background-position: 0% 85%, 100% 100%;
}
body main .info-materiales .container .row .parent .child .contenedor {
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
}
body main .info-materiales .container .row .parent .child .contenedor .contenedor-icon i {
  font-size: 2.4rem;
}
body main .opiniones .row {
  display: flex;
  justify-content: center;
}
body main .opiniones .row .col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ebebeb;
  padding: 30px 10px;
  border-radius: 5px;
}
body main .opiniones .row .col img {
  width: 90px;
}
body main .opiniones .row .col h6 {
  font-weight: 800;
  font-size: 1.25rem;
}
body main .opiniones .row .col p {
  text-align: center;
}
body main .opiniones .row .col .puntuacion {
  width: 100%;
  text-align: center;
  padding: 2px 0;
}
body footer {
  padding-bottom: 1rem;
}
body footer .container {
  width: 90%;
}
body footer .container .row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
}
body footer .container .row .redes-sociales,
body footer .container .row .medios-pago {
  display: flex;
}
body footer .container .row .redes-sociales .col a img,
body footer .container .row .medios-pago .col a img {
  width: 3rem;
}
body .banner {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
  width: 100%;
}
body .banner .triangulo-left {
  margin-top: 0.5rem;
  width: 2.8rem;
  height: 0;
  border-left: 2.5rem solid transparent;
  border-top: 1.563rem solid #f0ad4e;
  border-bottom: 1.563rem solid #f0ad4e;
}
body .banner .triangulo-right {
  margin-top: 0.5rem;
  width: 2.8rem;
  height: 0;
  border-right: 2.5rem solid transparent;
  border-top: 1.563rem solid #f0ad4e;
  border-bottom: 1.563rem solid #f0ad4e;
}
body .banner .rectangulo {
  width: 100%;
  max-width: 28.125rem;
  height: 3.125rem;
  border: 0.188rem solid #f0ad4e;
  background: #f0ad4e;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .banner .rectangulo h6 {
  text-transform: uppercase;
  font-weight: 600;
}

@media screen and (max-width: 992px) {
  body section .contenedor-slide .container {
    margin: 0;
    margin-left: 0;
    width: 50%;
  }

  body nav .nav-wrapper .right li {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  body section .contenedor-slide .container {
    width: 100%;
  }

  body footer .container {
    width: 100%;
  }
  body footer .container .row {
    justify-content: center;
  }
  body footer .container .row .redes-sociales,
body footer .container .row .medios-pago {
    display: column;
  }
  body footer .container .row .redes-sociales {
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 1200px) {
  .info-empezar-diseño {
    background-size: 132%;
  }
}
@media (max-width: 1200px) {
  .info-empezar-diseño {
    background-size: 132%;
  }
}
@media (max-width: 1373px) {
  .info-empezar-diseño {
    margin-top: 0;
  }
}
@media (max-width: 1500px) {
  .info-empezar-diseño {
    background-size: 117%;
  }
}
.info-empezar-diseño,
.info-materiales {
  background-image: url(../img/onda1.png), url(../img/onda2.png);
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
  overflow: auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: -9% 100%, 105% 100%;
  margin-top: 0;
  z-index: 10;
  position: relative;
  margin-top: 6rem;
}
.info-empezar-diseño .container .row,
.info-materiales .container .row {
  padding: 3rem;
}
.info-empezar-diseño .container .row .txt,
.info-materiales .container .row .txt {
  display: flex;
  justify-content: center;
  text-align: center;
}
.info-empezar-diseño .container .row .txt h4,
.info-materiales .container .row .txt h4 {
  font-weight: 600;
  padding-bottom: 1rem;
}
.info-empezar-diseño .container .row .parent .child,
.info-materiales .container .row .parent .child {
  text-align: center;
}
.info-empezar-diseño .container .row .parent .child .botones,
.info-materiales .container .row .parent .child .botones {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.info-empezar-diseño .container .row .parent .child .botones a,
.info-materiales .container .row .parent .child .botones a {
  padding: 1.7rem 4.2rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.1rem;
}