@charset "UTF-8";
body {
  font-family: "Open Sans", sans-serif;
  background-color: #eaddc4;
  font-size: 16px;
}
body nav .sidenav li .user-view a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Caveat Brush", cursive;
  font-size: 20rem;
}
body nav .sidenav li .user-view a .name {
  font-family: "Caveat Brush", cursive;
  font-size: 2rem;
}
body nav .sidenav .menu-movil {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 1rem;
}
body nav .sidenav .menu-movil img {
  width: 2rem;
  height: 2rem;
}
body nav .sidenav .menu-movil a {
  padding-left: 1rem;
}
body nav .sidenav .arriba {
  padding-top: 2rem;
}
body nav .nav-wrapper {
  width: 100%;
}
body nav .nav-wrapper .right {
  display: flex;
  flex-direction: row;
}
body nav .nav-wrapper .right li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}
body nav .nav-wrapper .right li.seccion {
  width: 100%;
  height: 100%;
}
body nav .nav-wrapper .right li a {
  width: 6.2rem;
  margin-top: 0.375rem;
}
body nav .nav-wrapper .right li a img {
  width: 100%;
  height: auto;
  position: relative;
}
body nav .nav-wrapper .right li .ribbon {
  width: 0rem;
  height: 3.125rem;
  border-left: 1.5rem solid #4db6ac;
  border-right: 1.5rem solid #4db6ac;
  border-bottom: 1.5rem solid transparent;
  margin-top: -2.375rem;
}
body nav .nav-wrapper .right li .ribbon:hover {
  border-left: 1.5rem solid #00897b;
  border-right: 1.5rem solid #00897b;
}
body nav .nav-wrapper .right li .active {
  border-left: 1.5rem solid #00897b;
  border-right: 1.5rem solid #00897b;
}
body nav .nav-wrapper .right .nombre-seccion {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0;
  margin: 0;
  margin-top: 0.3rem;
  margin-left: -0.6rem;
  margin-right: 0.6rem;
  height: 0rem;
}
body section .contenedor-slide {
  background-image: url(../img/slide.jpg);
  background-size: cover;
  height: 85vh;
}
body section .contenedor-slide .container {
  margin: 0;
  margin-left: 4.375rem;
  width: 30%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  flex-direction: column;
}
body section .contenedor-slide .container .iso-grande {
  margin-top: -3.75rem;
  width: 12.5rem;
}
body section .contenedor-slide .container .texto-personalizar {
  text-align: center;
}
body section .contenedor-slide .container .texto-personalizar h1 {
  font-family: "Caveat Brush", cursive;
  font-size: 4.8rem;
  margin-top: -0.563rem;
}
body section .contenedor-slide .container .texto-personalizar .subtitulo {
  line-height: 0.563rem;
  margin-top: 3.125rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 30%;
}
body section .contenedor-slide .container .texto-personalizar .subtitulo p {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0;
}
body section .contenedor-slide .container .texto-personalizar .parrafo {
  font-weight: 400;
  line-height: 0.5rem;
  text-align: center;
  margin-top: 3.125rem;
}
body section .contenedor-slide .container .texto-personalizar a {
  margin-top: 3.125rem;
  padding: 1.8rem;
  width: 100%;
  font-weight: bold;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main {
  width: 100%;
  padding-bottom: 0;
  padding: 1.125rem;
}
body main .banner .responsive-img {
  width: 45em;
}
body main .tarjetas .contenedor .col .row .col .card .card-image {
  padding: 0.5rem;
  max-width: 2668.81px;
  max-height: 2668.81px;
}
body main .tarjetas .contenedor .col .row .col .card .card-image img {
  border-radius: 0;
  max-width: 2668.81px;
  max-height: 2668.81px;
}
body main .tarjetas .contenedor .col .row .col .card .precio {
  margin-right: 2.35rem;
  font-size: 0.98rem;
}
body main .tarjetas .contenedor .col .row .col .card .precio.false {
  font-weight: bold;
}
body main .tarjetas .contenedor .col .row .col .card .card-action {
  display: flex;
  flex-direction: column;
}
body main .tarjetas .contenedor .col .row .col .card .card-action h6 {
  font-weight: 800;
  margin-bottom: 0;
}
body main .tarjetas .contenedor .col .row .col .card .card-action p {
  font-size: 1rem;
  margin-top: 0.6rem;
}
body main .tarjetas .contenedor .col .row .col .card .card-action .hilos {
  width: 100%;
}
body main .tarjetas .contenedor .col .row .col .card .card-action .hilos .boton {
  width: 1.5rem;
  height: 1.5rem;
}
body main .ver-mas {
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  width: 100%;
}
body main .ver-mas a {
  width: 20rem;
  padding: 2rem 4.2rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
}
body main .carousel {
  padding-bottom: 58rem;
  margin-top: -19rem;
}
body main .carousel .carousel-item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 24rem;
}
body main .carousel .carousel-item .col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ebebeb;
  padding: 1.875rem 0.625rem;
  width: 29rem;
  border-radius: 0.313rem;
}
body main .carousel .carousel-item .col img {
  width: 5.625rem;
}
body main .carousel .carousel-item .col h6 {
  font-weight: 800;
  font-size: 1.25rem;
}
body main .carousel .carousel-item .col p {
  margin-top: 0;
}
body main .carousel .carousel-item .col .puntuacion {
  width: 100%;
  text-align: center;
  padding: 0.125rem 0;
}
body main .carousel .carousel-item .col .collapsible {
  box-shadow: none;
  border: 0;
}
body main .carousel .carousel-item .col .collapsible li .collapsible-header {
  padding: 0;
  background-color: transparent;
  border: 0;
  box-shadow: none;
}
body main .carousel .carousel-item .col .collapsible .collapsible-body {
  border-bottom: none;
  padding-bottom: 0;
}

.banner {
  padding-top: 6rem;
}

.info-materiales .container .row .parent .child .contenedor, .info-compartir .container .row .parent .child .contenedor {
  display: flex;
  justify-content: space-around;
  padding-top: 3rem;
}
.info-materiales .container .row .parent .child .contenedor .contenedor-icon i, .info-compartir .container .row .parent .child .contenedor .contenedor-icon i {
  font-size: 3.5rem;
}
.info-materiales .container .row .parent .child .contenedor .contenedor-icon p, .info-materiales .container .row .parent .child .contenedor .contenedor-icon a, .info-compartir .container .row .parent .child .contenedor .contenedor-icon p, .info-compartir .container .row .parent .child .contenedor .contenedor-icon a {
  font-weight: bold;
  font-size: 1.2rem;
}

.info-compartir .container .row .parent .child .contenedor .contenedor-icon {
  display: flex;
  flex-direction: column;
}
.info-compartir .container .row .parent .child .contenedor .contenedor-icon a i {
  font-size: 3.5rem;
  margin-bottom: 0.6rem;
}

.info-empezar-diseño {
  margin: 5rem 0;
}
.info-empezar-diseño .row .txt {
  display: flex;
  justify-content: center;
  text-align: center;
}
.info-empezar-diseño .row .txt h4 {
  font-weight: 600;
  padding-bottom: 1rem;
}
.info-empezar-diseño .row .parent .child {
  text-align: center;
}
.info-empezar-diseño .row .parent .child h5 {
  font-size: 1.5rem;
}
.info-empezar-diseño .botones-empezar-diseño {
  display: flex;
  justify-content: center !important;
}
.info-empezar-diseño .botones-empezar-diseño .btn {
  padding: 2rem 4.2rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 3rem 5rem;
  margin-bottom: 0rem;
}

.info {
  background-image: url(../img/hoja-arrugada.png);
  overflow: auto;
  background-size: contain;
  margin-top: 0;
  z-index: 10;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #160b0b;
  padding: 3rem;
}
.info .row .txt {
  display: flex;
  justify-content: center;
  text-align: center;
}
.info .row .txt h4 {
  font-weight: 600;
  padding-bottom: 1rem;
}
.info .row .parent .child {
  text-align: center;
}
.info .row .parent .child h5 {
  font-size: 1.5rem;
}

footer .container {
  width: 80%;
}
footer .container .row {
  margin-bottom: 0;
  padding-bottom: 0.5rem;
}
footer .container .row .redes-sociales img,
footer .container .row .medios-pago img {
  width: 3.8rem;
}

@media screen and (max-width: 992px) {
  body section .contenedor-slide .container {
    margin: 0;
    margin-left: 0;
    width: 50%;
  }
  body nav .nav-wrapper .right li {
    display: none;
  }

  body main .banner .responsive-img {
    width: 75%;
  }

  body main .opiniones {
    margin: 0;
    width: 100%;
  }

  .carousel .carousel-item {
    left: -6.25rem;
  }

  .card {
    padding-bottom: 2rem;
  }
  .card .card-action {
    padding: 0;
    padding-left: 1rem;
    padding-top: 1rem;
  }
}
@media screen and (max-width: 750px) {
  footer .container {
    display: flex;
  }
  footer .container .row {
    padding: 0rem;
  }
  footer .container .row .right {
    float: none !important;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  body section .contenedor-slide {
    height: 65vh;
  }
  body section .contenedor-slide .container {
    width: 100%;
  }
  body section .contenedor-slide .container .texto-personalizar {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 40%;
  }
  body footer .container {
    width: 100%;
  }
  body footer .container .row {
    justify-content: center;
  }
  body footer .container .row .redes-sociales,
body footer .container .row .medios-pago {
    display: column;
  }
  body footer .container .row .redes-sociales {
    margin-bottom: 1.5rem;
  }

  .info-materiales .container .row .parent .child .contenedor, .info-compartir .container .row .parent .child .contenedor {
    flex-direction: column;
  }
  .info-materiales .container .row .parent .child .contenedor .contenedor-icon, .info-compartir .container .row .parent .child .contenedor .contenedor-icon {
    padding-bottom: 3rem;
  }

  body main .banner .responsive-img {
    width: 90%;
  }
}
@media screen and (max-width: 580px) {
  .info-empezar-diseño {
    width: 90%;
    margin: 5rem auto;
  }
  .info-empezar-diseño .row .parent .child .botones-empezar-diseño {
    height: auto;
    flex-direction: column;
    margin-top: 2.5rem;
  }
  .info-empezar-diseño .row .parent .child .botones-empezar-diseño a {
    margin: 0;
    margin-top: 1.5rem;
    width: 100%;
  }
}