body {
  background-color: #eaddc4;

  /* NAV */
  nav {
    .sidenav {
      li .user-view a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Caveat Brush", cursive;
        font-size: 20rem;

        .name {
          font-family: "Caveat Brush", cursive;
          font-size: 2rem;
        }
      }
      .menu-movil {
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 0 1rem;
        img {
          width: 2rem;
          height: 2rem;
        }
        a {
          padding-left: 1rem;
        }
      }
      .arriba {
        padding-top: 2rem;
      }
    }
    .nav-wrapper {
      width: 100%;
      .left li {
        width: 6.9rem;
        margin: 0;
      }
      .right {
        display: flex;
        flex-direction: row;

        li {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin: 0;
          &.seccion {
            width: 100%;
            height: 100%;
          }
          a {
            width: 6.2rem;
            margin-top: 0.375rem;
            img {
              width: 100%;
              height: auto;
              position: relative;
            }
          }
          .ribbon {
            width: 0rem;
            height: 3.125rem;
            border-left: 1.5rem solid #4db6ac;
            border-right: 1.5rem solid #4db6ac;
            border-bottom: 1.5rem solid transparent;
            margin-top: -2.375rem;
            &:hover {
              border-left: 1.5rem solid #00897b;
              border-right: 1.5rem solid #00897b;
            }
          }
          .active {
            border-left: 1.5rem solid #00897b;
            border-right: 1.5rem solid #00897b;
          }
        }

        .nombre-seccion {
          font-size: 1.2rem;
          font-weight: 600;
          padding: 0;
          margin: 0;
          margin-top: 0.3rem;
          margin-left: -0.6rem;
          margin-right: 0.6rem;
          height: 0rem;
        }
      }
    }
  }

  .contenedor-libro-colores {
    margin-top: 8em;
    margin-bottom: 5em;

    .row {
      // IZQUIERDA - LIBRO
      .col {
        // CARRITO DE COMPRAS
        .banner {
          width: 100%;
          .responsive-img {
            width: 90%;
            margin-bottom: 2.5rem;
          }
        }
        .col {
          .card {
            padding: 0.3rem;
            background-color: #f7f0e6;
            .card-image {
              width: 11rem;
              height: auto;
              a img {
                width: 100%;
                height: 100%;
              }
            }
            .card-stacked {
              .card-content {
                padding-top: 0.88rem;
                margin-bottom: 0rem;
                .eliminar {
                  display: flex;
                  position: absolute;
                  top: 0;
                  right: 0;
                  cursor: pointer;
                  p {
                    margin-right: 0.4rem;
                  }
                }
                p {
                  font-size: 1.18rem;
                }
              }
              .card-action {
                display: flex;
                padding-top: 0;
                padding-bottom: 0;
                width: 100%;
                p {
                  display: flex;
                  font-size: 1.18rem;
                }
                input {
                  margin-top: 0.5rem;
                  margin-left: 1rem;
                  width: 5rem;
                }
                h6 {
                  font-size: 1.8rem;
                  font-weight: bold;
                  position: absolute;
                  top: -0.9rem;
                  right: 1rem;
                }
              }
            }
          }
        }

        .error {
          font-weight: bold;
          font-size: 1.04rem;
          margin-left: -5rem;
          margin-top: -0.5rem;
        }
        table {
          margin-top: 3rem;
          margin-bottom: 4rem;
          tr {
            border: none;
            td {
              font-size: 1.18rem;
              &.container {
                display: flex;
                align-items: center;
                width: 100%;
                font-weight: 600;
                i {
                  font-size: 1.6rem;
                  margin-right: 0.6rem;
                }
              }
            }
          }
        }
      }

      // DERECHA - SEPARADORES
      .contenedor-separadores {
        .separadores {
          width: 100%;
          margin-bottom: 0;

          .separador {
            text-align: center;
            padding-top: 1rem;
            padding-bottom: 1rem;
            margin-bottom: 0;
            border-top-left-radius: 1.7rem;
            border-top-right-radius: 1.7rem;
            background-color: #f7f0e6;
            border-bottom: 0.1rem solid #eaddc4;
            cursor: pointer;
            &:hover {
              background-color: #ffca28;
            }
            a {
              font-weight: 600;
              font-size: 1.27rem;
              text-transform: uppercase;
            }
          }
        }
      }

      .personalizar-container-botones {
        background-color: #f7f0e6;
        padding-bottom: 1rem;
        border-radius: 0.5rem;
        min-height: 38.5rem;
        max-height: auto;

        // TÍTULOS
        h5 {
          font-weight: bold;
          margin-top: 0rem;
          margin-bottom: 1rem;
          margin-left: 1rem;
        }
        .titulo {
          margin-top: 2rem;
        }
        .subtitulo {
          margin-top: 3rem;
        }

        // RETIRO - SEPARADOR
        .row {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          margin: 0;
          .col {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;

            // UBICACIÓN - RETIRO
            form {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              width: 100%;
              p {
                margin-left: 1.5rem;
                span {
                  font-size: 1.15rem;
                }
              }
              .col h4 {
                font-weight: bold;
                margin: 0;
                margin-left: 2rem;
                font-size: 2rem;
              }
            }
            .aclaracion {
              margin-left: 1.5rem;
              margin-top: 2rem;
              font-size: 1.1rem;
              font-weight: bold;
            }
          }
        }

        // PAGO - SEPARADOR
        .row {
          .col {
            form {
              .separar {
                display: flex;
              }
              .input-field {
                margin: 0;
                margin-top: 1.1rem;
              }
            }
          }
        }

        // FLECHAS
        .flechas {
          width: 100%;
          display: flex;
          margin-top: 10rem;
          .anterior,
          .continuar {
            display: flex;
            align-items: center;
            width: 100%;
            cursor: pointer;
            p {
              font-size: 1.15rem;
            }
            i {
              font-size: 2.9rem;
              &:hover {
                color: #ffc107;
              }
            }
          }

          .continuar {
            justify-content: flex-end;
          }
        }
      }

      // BOTÓN - COMPRAR
      .btn-comprar {
        display: flex;
        justify-content: center;
        width: 35.5rem;
        .btn-large {
          width: 100%;
          margin-top: 1rem;
          padding: 2rem 6rem;
          font-weight: bold;
          font-size: 1.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      // MODAL
      .modal {
        .modal-content {
          h4 {
            font-size: 2.3rem;
            &.section {
              font-size: 3rem;
              font-weight: bold;
            }
          }
          p {
            font-size: 1.2rem;
            width: 100%;
            &.section {
              margin-top: 3rem;
            }
            b {
              font-size: 1.6rem;
            }
          }
        }
      }
      .modal-footer {
        a {
          font-size: 1.2rem;
        }
      }
    }
  }

  #cuaderno .row {
    .visualizacion-contenedor {
      background-color: #f7f0e6;
      padding: 4rem;
      border: 0.1rem solid rgb(167, 160, 160);
      display: flex;
      justify-content: center;
    }

    .col {
      padding-left: 4rem;

      h6 {
        font-size: 1.8rem;
        font-weight: 500;
      }

      p {
        font-size: 3rem;
        margin-left: 6rem;
        color: gray;
        font-weight: 600;
        display: flex;
        justify-content: center;
      }

      .texto-pagos {
        font-size: 1rem;
        color: #000;
        margin: 0;
        margin-bottom: 3rem;
      }

      h5 {
        font-size: 1.04rem;
        font-weight: 600;
        margin-top: 4rem;
      }

      a {
        font-size: 1.3rem;
        height: 4rem;
        width: 30rem;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .pagos img {
        width: 3.5rem;
        margin-top: 1rem;
      }
    }
  }

  .archivo {
    margin: 5rem auto;

    .tabs {
      background-color: #eaddc4;

      .tab {
        width: 40%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

        i {
          margin-right: 1rem;
          margin-top: 0.9rem;
        }

        a {
          color: #000;

          &.active {
            background-color: #f7f0e6;
            color: #000;
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
          }
        }
      }

      .indicator {
        background-color: #000;
      }
    }

    .col {
      background-color: #f7f0e6;
      height: 32rem;
      border-top-right-radius: 1rem;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;

      table {
        tbody {
          font-size: 1.15rem;
          td {
            padding-left: 1rem;

            &.negrita {
              font-weight: bold;
            }
          }
          .sin-borde {
            border-bottom: none;
          }
        }
      }
    }
  }

  footer .container {
    width: 80%;

    .row {
      margin-bottom: 0;
      padding-bottom: 0.5rem;

      .redes-sociales img,
      .medios-pago img {
        width: 3.8rem;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  nav .nav-wrapper .right {
    display: none;
  }

  .contenedor-libro-colores .cosas {
    display: flex;
    flex-direction: column;

    .flechas {
      display: flex;
      width: 100%;
      margin: 0;
      margin-top: 5rem;
      margin-right: 1rem;
    }
    .colores .col div,
    .colores .col h6 {
      margin-left: 5rem;
    }
    .personalizar-container-botones,
    .personalizar-container-imagen {
      margin: 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
    }
  }

  body .contenedor-libro-colores .row .col h5 {
    width: 100%;
    margin-left: 17rem;
    margin-top: 5rem;
  }
  .descarga-botones {
    display: none;
  }
}
