@charset "UTF-8";

body {
  font-family: "Open Sans", sans-serif;
  background-color: #eaddc4;
  font-size: 16px;

  // NAV
  nav {
    .sidenav {
      li .user-view a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Caveat Brush", cursive;
        font-size: 20rem;
        .name {
          font-family: "Caveat Brush", cursive;
          font-size: 2rem;
        }
      }
      .menu-movil {
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 0 1rem;
        img {
          width: 2rem;
          height: 2rem;
        }
        a {
          padding-left: 1rem;
        }
      }
      .arriba {
        padding-top: 2rem;
      }
    }
    .nav-wrapper {
      width: 100%;
      .right {
        display: flex;
        flex-direction: row;

        li {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin: 0;
          &.seccion {
            width: 100%;
            height: 100%;
          }
          a {
            width: 6.2rem;
            margin-top: 0.375rem;
            img {
              width: 100%;
              height: auto;
              position: relative;
            }
          }
          .ribbon {
            width: 0rem;
            height: 3.125rem;
            border-left: 1.5rem solid #4db6ac;
            border-right: 1.5rem solid #4db6ac;
            border-bottom: 1.5rem solid transparent;
            margin-top: -2.375rem;
            &:hover {
              border-left: 1.5rem solid #00897b;
              border-right: 1.5rem solid #00897b;
            }
          }
          .active {
            border-left: 1.5rem solid #00897b;
            border-right: 1.5rem solid #00897b;
          }
        }

        .nombre-seccion {
          font-size: 1.2rem;
          font-weight: 600;
          padding: 0;
          margin: 0;
          margin-top: 0.3rem;
          margin-left: -0.6rem;
          margin-right: 0.6rem;
          height: 0rem;
        }
      }
    }
  }

  // SLIDE PERSONALIZAR
  section .contenedor-slide {
    background-image: url(../img/slide.jpg);
    background-size: cover;
    height: 85vh;
    .container {
      margin: 0;
      margin-left: 4.375rem;
      width: 30%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      display: flex;
      align-items: center;
      flex-direction: column;
      .iso-grande {
        margin-top: -3.75rem;
        width: 12.5rem;
      }
      .texto-personalizar {
        text-align: center;
        h1 {
          font-family: "Caveat Brush", cursive;
          font-size: 4.8rem;
          margin-top: -0.563rem;
        }
        .subtitulo {
          line-height: 0.563rem;
          margin-top: 3.125rem;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          height: 30%;
          p {
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 0;
          }
        }
        .parrafo {
          font-weight: 400;
          line-height: 0.5rem;
          text-align: center;
          margin-top: 3.125rem;
        }
        a {
          margin-top: 3.125rem;
          padding: 1.8rem;
          width: 100%;
          font-weight: bold;
          font-size: 1.3rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  main {
    width: 100%;
    padding-bottom: 0;
    padding: 1.125rem;

    // BANNER - TODOS
    .banner .responsive-img {
      width: 45em;
    }

    // TARJETAS - TODOS
    .tarjetas .contenedor .col .row .col .card {
      .card-image {
        padding: 0.5rem;
        max-width: 2668.81px;
        max-height: 2668.81px;
        img {
          border-radius: 0;
          max-width: 2668.81px;
          max-height: 2668.81px;
        }
      }
      .precio {
        margin-right: 2.35rem;
        font-size: 0.98rem;

        &.false {
          font-weight: bold;
        }
      }
      .card-action {
        display: flex;
        flex-direction: column;
        h6 {
          font-weight: 800;
          margin-bottom: 0;
        }
        p {
          font-size: 1rem;
          margin-top: 0.6rem;
        }
        .hilos {
          width: 100%;
          .boton {
            width: 1.5rem;
            height: 1.5rem;
          }
        }
      }
    }

    .ver-mas {
      margin-bottom: 5rem;
      display: flex;
      justify-content: center;
      width: 100%;

      a {
        width: 20rem;
        padding: 2rem 4.2rem;
        margin-bottom: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 1.2rem;
      }
    }

    // CAROUSEL - OPINIONES
    .carousel {
      padding-bottom: 58rem;
      margin-top: -19rem;

      .carousel-item {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 24rem;
        .col {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          background-color: #ebebeb;
          padding: 1.875rem 0.625rem;
          width: 29rem;
          border-radius: 0.313rem;

          img {
            width: 5.625rem;
          }
          h6 {
            font-weight: 800;
            font-size: 1.25rem;
          }
          p {
            margin-top: 0;
          }
          .puntuacion {
            width: 100%;
            text-align: center;
            padding: 0.125rem 0;
          }
          .collapsible {
            box-shadow: none;
            border: 0;
            li .collapsible-header {
              padding: 0;
              background-color: transparent;
              border: 0;
              box-shadow: none;
            }
            .collapsible-body {
              border-bottom: none;
              padding-bottom: 0;
            }
          }
        }
      }
    }
  }
}

// BANNERS
.banner {
  padding-top: 6rem;
}

// HOJA DE PAPEL
.info-materiales,
.info-compartir {
  .container .row .parent .child .contenedor {
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;

    .contenedor-icon {
      i {
        font-size: 3.5rem;
      }
      p,
      a {
        font-weight: bold;
        font-size: 1.2rem;
      }
    }
  }
}

.info-compartir .container .row .parent .child .contenedor .contenedor-icon {
  display: flex;
  flex-direction: column;

  a i {
    font-size: 3.5rem;
    margin-bottom: 0.6rem;
  }
}

// EMPEZAR A PERSONALIZAR
.info-empezar-dise単o {
  margin: 5rem 0;
  .row {
    .txt {
      display: flex;
      justify-content: center;
      text-align: center;
      h4 {
        font-weight: 600;
        padding-bottom: 1rem;
      }
    }
    .parent .child {
      text-align: center;
      h5 {
        font-size: 1.5rem;
      }
    }
  }

  .botones-empezar-dise単o {
    display: flex;
    justify-content: center !important;

    .btn {
      padding: 2rem 4.2rem;
      margin-top: 3rem;
      margin-bottom: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 1.2rem;
      margin: 3rem 5rem;
      margin-bottom: 0rem;
    }
  }
}

// HOJA DE PAPEL
.info {
  background-image: url(../img/hoja-arrugada.png);
  overflow: auto;
  background-size: contain;
  margin-top: 0;
  z-index: 10;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #160b0b;
  padding: 3rem;

  .row {
    .txt {
      display: flex;
      justify-content: center;
      text-align: center;
      h4 {
        font-weight: 600;
        padding-bottom: 1rem;
      }
    }
    .parent .child {
      text-align: center;
      h5 {
        font-size: 1.5rem;
      }
    }
  }
}

// FOOTER
footer .container {
  width: 80%;

  .row {
    margin-bottom: 0;
    padding-bottom: 0.5rem;

    .redes-sociales img,
    .medios-pago img {
      width: 3.8rem;
    }
  }
}

@media screen and (max-width: 992px) {
  body {
    section .contenedor-slide .container {
      margin: 0;
      margin-left: 0;
      width: 50%;
    }

    nav .nav-wrapper .right li {
      display: none;
    }
  }
  body main .banner .responsive-img {
    width: 75%;
  }
  body main .opiniones {
    margin: 0;
    width: 100%;
  }
  .carousel .carousel-item {
    left: -6.25rem;
  }
  .card {
    padding-bottom: 2rem;
    .card-action {
      padding: 0;
      padding-left: 1rem;
      padding-top: 1rem;
    }
  }
}

@media screen and (max-width: 750px) {
  footer .container {
    display: flex;
    .row {
      padding: 0rem;
      .right {
        float: none !important;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  body {
    section .contenedor-slide {
      height: 65vh;
      .container {
        width: 100%;
        .texto-personalizar {
          display: flex;
          align-items: center;
          flex-direction: column;
          height: 40%;
        }
      }
    }
    footer .container {
      width: 100%;

      .row {
        justify-content: center;

        .redes-sociales,
        .medios-pago {
          display: column;
        }

        .redes-sociales {
          margin-bottom: 1.5rem;
        }
      }
    }
  }

  .info-materiales,
  .info-compartir {
    .container .row .parent .child .contenedor {
      flex-direction: column;

      .contenedor-icon {
        padding-bottom: 3rem;
      }
    }
  }

  body main .banner .responsive-img {
    width: 90%;
  }
}

@media screen and (max-width: 580px) {
  .info-empezar-dise単o {
    width: 90%;
    margin: 5rem auto;
    .row .parent .child .botones-empezar-dise単o {
      height: auto;
      flex-direction: column;
      margin-top: 2.5rem;
      a {
        margin: 0;
        margin-top: 1.5rem;
        width: 100%;
      }
    }
  }
}
